<!--
 footer-->
 
<!-- footer-->
<footer class="page-footer font-small mt-4 p-2 bg-light " style="background-color: whitesmoke; color: black">
  <div class="footer-copyright text-center">
   <h4 class="">Created by: Code-Plag Team</h4> 
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center">
    © 2020 Copyright:
    <a  href="#">codeplag.in</a>
  </div>
  <!-- Copyright -->
</footer>