<!-- footer-->
<footer
class="page-footer font-small fixed-bottom"
style="background-color: whitesmoke; color: black"
>
<div class="footer-copyright text-center">Created by :Code plag & team</div>
<!-- Copyright -->
<div class="footer-copyright text-center">
  © 2020 Copyright:
  <a href="https://mdbootstrap.com/"> CDAC</a>
</div>
<!-- Copyright -->
</footer>