<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About-us</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <script src="https://kit.fontawesome.com/0ff6456f25.js" crossorigin="anonymous"></script>
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <!--NAV-BAR-->
        <!-- navbar component-->
        <%- include('partials/navbar') %>
        <div class="text-center h1 my-3">About</div>
        <!---  container -->
        <div class="container-fluid text-center my-1">
            <div class="row justify-content-around">
                <div class="col-md-3 card shadow rounded p-2 my-3">
                    <div class="card-body">
                        <h3 class="card-title">Chandra Shekhar</h3>
                        <h6 class="card-subtitle mb-2 text-muted">Joint Director CDAC, Mumbai</h6>
                        <p class="card-text">Project Guide | Mentor</p>
                        <a href="https://www.linkedin.com/in/pinchhitter/" class="card-link h1"
                            ><i class="fab fa-linkedin"></i
                        ></a>
                        <a href="#" class="card-link h1 text-success"><i class="fab fa-github-square"></i></a>
                    </div>
                </div>
                <div class="col-md-3 card shadow rounded p-2 my-3">
                    <div class="card-body">
                        <h3 class="card-title">Yash Patil</h3>
                        <h6 class="card-subtitle mb-2 text-muted">B.Tech, PG-DAC CDAC, Mumbai</h6>
                        <p>Team Member</p>
                        <a href="https://www.linkedin.com/in/yash-patil-/" class="card-link h1"
                            ><i class="fab fa-linkedin"></i
                        ></a>
                        <a href="https://github.com/yashu55/" class="card-link h1 text-success"
                            ><i class="fab fa-github-square"></i
                        ></a>
                    </div>
                </div>
                <div class="col-md-3 card shadow rounded p-2 my-3">
                    <div class="card-body">
                        <h3 class="card-title">Laxman Patil</h3>
                        <h6 class="card-subtitle mb-2 text-muted">BE, PG-DAC CDAC, Mumbai</h6>
                        <p>Team Member</p>
                        <a href="https://www.linkedin.com/in/laxman-patil-b5576697/" class="card-link h1"
                            ><i class="fab fa-linkedin"></i
                        ></a>
                        <a href="https://github.com/luckypatil15" class="card-link h1 text-success"
                            ><i class="fab fa-github-square"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-md-3 card shadow rounded p-2 my-3">
                    <div class="card-body">
                        <h3 class="card-title">Adinath Raut</h3>
                        <h6 class="card-subtitle mb-2 text-muted">BE, PG-DAC CDAC, Mumbai</h6>
                        <p>Team Member</p>
                        <a href="https://www.linkedin.com/in/adinath-raut-b39a3416b/" class="card-link h1"
                            ><i class="fab fa-linkedin"></i
                        ></a>
                        <a href="https://github.com/adinathraut20" class="card-link h1 text-success"
                            ><i class="fab fa-github-square"></i
                        ></a>
                    </div>
                </div>
                <div class="col-md-3 card shadow rounded p-2 my-3">
                    <div class="card-body">
                        <h3 class="card-title">Pranay Singh</h3>
                        <h6 class="card-subtitle mb-2 text-muted">BE, PG-DAC CDAC, Mumbai</h6>
                        <p>Team Member</p>
                        <a href="https://www.linkedin.com/in/pranay-m-singh/" class="card-link h1"
                            ><i class="fab fa-linkedin"></i
                        ></a>
                        <a href="#" class="card-link h1 text-success"><i class="fab fa-github-square"></i></a>
                    </div>
                </div>
                <div class="col-md-3 card shadow rounded p-2 my-3">
                    <div class="card-body">
                        <h3 class="card-title">Kuldeep Singh</h3>
                        <h6 class="card-subtitle mb-2 text-muted">BE, PG-DAC CDAC, Mumbai</h6>
                        <p>Team Member</p>
                        <a href="https://www.linkedin.com/in/kuldeep-singh-9a8892141/" class="card-link h1"
                            ><i class="fab fa-linkedin"></i
                        ></a>
                        <a href="https://github.com/kuldeep375" class="card-link h1 text-success"
                            ><i class="fab fa-github-square"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-md-1"></div>

                <div class="col-md-3 card shadow rounded p-2 my-3">
                    <div class="card-body">
                        <h3 class="card-title">Abhishek Sherekar</h3>
                        <h6 class="card-subtitle mb-2 text-muted">BE, PG-DAC CDAC, Mumbai</h6>
                        <p>Team Member</p>
                        <a href="https://www.linkedin.com/in/abhishek-sherekar-5a683315b/" class="card-link h1"
                            ><i class="fab fa-linkedin"></i
                        ></a>
                        <a href="https://github.com/abhisheksherekar" class="card-link h1 text-success"
                            ><i class="fab fa-github-square"></i
                        ></a>
                    </div>
                </div>
                <div class="col-md-3 card shadow rounded p-2 my-3">
                    <div class="card-body">
                        <h3 class="card-title">Ankit Suravkar</h3>
                        <h6 class="card-subtitle mb-2 text-muted">BE, PG-DAC CDAC, Mumbai</h6>
                        <p>Team Member</p>
                        <a href="https://www.linkedin.com/in/ankit-suravkar/" class="card-link h1"
                            ><i class="fab fa-linkedin"></i
                        ></a>
                        <a href="https://github.com/ankitmadridista" class="card-link h1 text-success"
                            ><i class="fab fa-github-square"></i
                        ></a>
                    </div>
                </div>

                <div class="col-md-1"></div>
            </div>
        </div>

        <!-- footer-->
        <footer class="page-footer font-small" style="background-color: whitesmoke; color: black">
            <div class="footer-copyright text-center">Created by :Code plag & team</div>
            <!-- Copyright -->
            <div class="footer-copyright text-center">
                © 2020 Copyright:
                <a href="https://mdbootstrap.com/"> CDAC</a>
            </div>
            <!-- Copyright -->
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
