
<!doctype html>
<html lang="en">

<head>
    <title>Sign-up</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0ff6456f25.js" crossorigin="anonymous"></script>
    <style>
        body {
            background-image: url("/images/background.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .img {
            width: 50vh;
            height: 50vh;
            margin-left: 16%;
            margin-top: 40%;
        }


        .mobileShow {
            display: inline;
        }

        /* Smartphone Portrait and Landscape */
        @media only screen and (min-device-width : 320px) and (max-device-width : 580px) {
            .mobileShow {
                display: inline;
            }
        }

        .mobileHide {
            display: inline;
        }

        /* Smartphone Portrait and Landscape */
        @media only screen and (min-device-width : 320px) and (max-device-width : 580px) {
            .mobileHide {
                display: none;
            }
        }
    </style>
</head>

<body>
    <!--NAV-BAR-->

    <%- include('partials/navbar') %>
    
    <!-- main component-->
    <div class="container-fluid">
        <div class="row" style="height: 90vh">
         
          <div
            class="col-md-6 align-items-center justify-content-center mobileShow"
          >
            <div
              class="row d-flex align-items-center justify-content-center"
              style="height: 15vh"
            ></div>
            <div class="row shadow  ">
              <div
                class="col-md-4 text-dark d-flex align-items-center justify-content-center p-4"
                style=" background-color: #00cba9"
              >
              <h3 class="text-center">
                Hello, New User
                Signup...!!!
               
            </h3>
               
              </div>
              <div
                class="col-md-8 p-4"
                style=" background: whitesmoke"
              >
  
              <div class="row">
                <div class="col-md-2" ></div>
                <div class="col-md-8" >
                  <div class="form-group display-3 text-center" >
                    <i class="fas fa-user-plus"></i>
                  </div>
                  <% if(!flag){
                    %>
                  <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                   
                    <strong><%= status%></strong> <%= msg%>
                    
                    
                  </div>
                  <%}%>
                  <form action="/api/v1/signup" method="POST">
                   
                    <div class="form-group">
                        <input
                          type="email"
                          class="form-control "
                          name="email"
                          placeholder="Email Id"
                          required
                        />
                      </div>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control "
                        name="fullname"
                        placeholder="Name"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <input
                        type="password"
                        class="form-control"
                        name="password"
                        placeholder="Password"
                        required
                      />
                    </div>
                    <div class="form-group">
                        <input
                          type="password"
                          class="form-control"
                          name="cpassword"
                          placeholder="Re-Enter Password"
                          required
                        />
                      </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Sign Up!</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                    
                    <p>Already have an account? <span><a href="/api/v1/login">Login</a></span></p>
                    
                  </form>
                </div>
                <div class="col-md-2" ></div>
              </div>
  
  
              </div>
            </div>
          </div>
          <div class="col-3 bg-inf1o mobileHide">
            <img src="/images/2.svg" alt="png" class="img" />
          </div>
        </div>
      </div>
      <br>
    
     <!-- footer component-->
     <%- include('partials/footer') %>

    <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</body>


</html>